<div id="barraLateralE">
    <!-- Imagem do usuário -->
    <div id="altImg">
      <img src="{{ url_for('perfil_avatar', login=logado) }}" id="imagemPerfilPI">
      <a href="{{url_for('edicao')}}"><div class="half-circle" title="Alterar imagem de perfil"><i class="fas fa-camera" style="font-size: x-large;"></i></div></a>
    </div>
    <!-- Link's laterais -->
      <table id='linksLaterais'>
          <tr>
              <td>
                <div>
                  <a href="{{url_for('index')}}" class='ancoraPagina' id="ancoraPaginaInicial">
                    <picture id="imagemPagina">
                      <source media="(min-width:1200px)" srcset="../static/imagens/pi.png" height="30">
                      <img src="">
                    </picture> 
                    Pagina inicial
                  </a>
                </div>
              </td>
          </tr>
          <tr>
              <td>
                <div>
                  <a href="{{url_for('perfil')}}" class="ancoraPagina">
                    <picture id="imagemPagina">
                      <source media="(min-width:1200px)" srcset="../static/imagens/p.png" height="30">
                      <img src="">
                    </picture> 
                    Perfil
                  </a>
                </div>
              </td>
          </tr>
          <tr>
              <td>
                <div>
                  <a href="#" class="ancoraPagina">
                    <picture id="imagemPagina">
                      <source media="(min-width:1200px)" srcset="../static/imagens/n.png" height="30">
                      <img src="">
                    </picture> 
                    Notificacoes
                  </a>
                </div>
              </td>
          </tr>
      </table>
    <!-- Botão coxinhar -->
    <div style="display: block; margin: auto; margin-top: 3vw; text-align: center;">
        <a href="#" class="coxinhar" id="coxinha01"><img src="../static/imagens/coxinhar.png" height="60" style="margin-bottom: -17px;" id="imgCoxinhar">Coxinhar</a>
    </div>
  </div>

  <div id="barraLateralD">
    <!-- Campo de busca -->
    <form>
      <div style="position: relative">
        <input type="text" name=busca id="campoBusca" placeholder="Pesquisar...">
        <picture id="campoBuscaRefri">
          <source media="(min-width:1200px)" srcset="../static/imagens/refri.png" width="30">
          <img src="">
        </picture>
      </div>
      <input type="submit" value="Pesquisar" id="btnPesquisar" disabled>
    </form>
    <!-- Outros conteúdos -->
    <h1 style="display: block; text-align: center; margin-top: 30%;">Coxitter</h1>
    <img src="../static/imagens/professor.jpeg" id="professorPI"  onmouseover="hover(this);" onmouseout="unhover(this);"">
    <h3 style="display: block; text-align: center; font-weight: lighter;">Mestre<br>Peixonauta</h3>
    <!-- Menu 3 pontinhos -->
    <div class="menuOpc">
      <button id="botaoOpc">...</button>
      <div class="menuOpc-conteudo">
        <a href="{{url_for('edicao')}}">Editar perfil</a>
        <a href="{{url_for('sair')}}">Sair</a>
      </div>
    </div>
  </div>
<!-- Javascript -->
<script>
    //Funções para a imagem do nosso mestre
    function hover(element) {
        element.setAttribute('src', '../static/imagens/queridoProfessor.png');
    }

    function unhover(element) {
        element.setAttribute('src', '../static/imagens/professor.jpeg');
    }

    //Conserta a altura da imagem de perfil
    var el = document.getElementById("imagemPerfilPI");
    var widthImgPerfil = el.offsetWidth;
    el.style.height=widthImgPerfil;

    //Conserta a distancia do topo para botões laterais
    el = document.getElementById("linksLaterais");
    var distancia = widthImgPerfil * 1.4;
    el.style.marginTop=distancia+"px";

    //Conserta a distancia do menu inferior direito (Menu Opções)
    el = document.getElementById("botaoOpc");
    var style = window.getComputedStyle(el),
    right = style.getPropertyValue('right');
    el.style.bottom=right;

    //"Media queries"
    window.onresize = function(event) {
      if (window.innerWidth < 600) {
        // console.log("Largura da janela menor que 600 px");
        document.getElementById("ancoraPaginaInicial").innerHTML = "Pagina<br>Inicial"
      } else {
        // console.log("Largura maior que 600px");
        document.getElementById("ancoraPaginaInicial").innerHTML = "Pagina Inicial"
      }
    };
  
</script>

{% include "popupCoxinhar.html" %}