<div id="barraLateralE">
    <!-- Imagem do usuário -->
    <div id="altImg">
      <img src="{{ url_for('perfil_avatar', login=logado) }}" id="imagemPerfilPI">
      <a href="{{url_for('edicao')}}"><div class="half-circle" id="meioCirculo" title="Alterar imagem de perfil"><i class="fas fa-camera" style="font-size: 1.5vw;"></i></div></a>
    </div>
    <!-- Link's laterais -->
      <table id='linksLaterais'>
          <tr>
              <td>
                <div>
                  <a href="{{url_for('index')}}" class='ancoraPagina' id="ancoraPaginaInicial">
                    Pagina inicial
                  </a>
                </div>
              </td>
          </tr>
          <tr>
              <td>
                <div>
                  <a href="{{url_for('perfil')}}" class="ancoraPagina"> 
                    Perfil
                  </a>
                </div>
              </td>
          </tr>
          <tr>
              <td>
                <div>
                  <a href="#" class="ancoraPagina" id="Notificacoes">
                    Notificacoes
                  </a>
                </div>
              </td>
          </tr>
      </table>
    <!-- Botão coxinhar -->
    <div style="display: block; margin: auto; margin-top: 3vw; text-align: center;">
        <a href="#" class="coxinhar" id="coxinha01"><img src="../static/imagens/coxinhar.png" height="60" style="margin-bottom: -17px;" id="imgCoxinhar">Coxinhar</a>
    </div>
  </div>

  <div id="barraLateralD">
    <!-- Campo de busca -->
    <form method="post" action="{{url_for('perfil')}}">
      <div style="position: relative">
        <input type="text" name=busca id="campoBusca" placeholder="Pesquisar o login de um usuário">
      </div>
      <input type="submit" value="Pesquisar" id="btnPesquisar">
    </form>
    <!-- Outros conteúdos -->
    <h1 style="display: block; text-align: center; margin-top: 30%;">Coxitter</h1>
    <img src="../static/imagens/professor.jpeg" id="professorPI"  onmouseover="hover(this);" onmouseout="unhover(this);"">
    <h3 style="display: block; text-align: center; font-weight: lighter;">Mestre<br>Peixonauta</h3>
    <!-- Menu 3 pontinhos -->
    <div class="menuOpc">
      <button id="botaoOpc">...</button>
      <div class="menuOpc-conteudo">
        <a href="{{url_for('edicao')}}">Editar perfil</a>
        <a href="{{url_for('sair')}}">Sair</a>
      </div>
    </div>
  </div>
<!-- Javascript -->
<script>
    //Funções para a imagem do nosso mestre
    function hover(element) {
        element.setAttribute('src', '../static/imagens/queridoProfessor.png');
    }

    function unhover(element) {
        element.setAttribute('src', '../static/imagens/professor.jpeg');
    }

    //Conserta a altura da imagem de perfil
    var el = document.getElementById("imagemPerfilPI");
    var style = window.getComputedStyle(el);
    //width é uma string
    var widthImgPerfil = style.getPropertyValue('width');
    el.style.height=widthImgPerfil;

    //Conserta a distancia do topo para botões laterais
    el = document.getElementById("linksLaterais");
    //retira o 'px' do fim da string
    widthImgPerfil =widthImgPerfil.slice(0,widthImgPerfil.length-2);
    //transforma em inteiro
    widthImgPerfil =parseInt(widthImgPerfil, 10);
    //calcula a distancia
    var distancia = widthImgPerfil * 1.4;
    el.style.marginTop=distancia+"px";

    //conserta a altura do link da imagem acima
    widthImgPerfil = parseInt(widthImgPerfil, 10);
    var novaAltura = widthImgPerfil/2;
    var meioCirculo = document.getElementById("meioCirculo");
    meioCirculo.style.top=(novaAltura+40)+"px";
    novaAltura -= 10;
    meioCirculo.style.height=novaAltura+"px";
    console.log(widthImgPerfil)
    console.log(novaAltura)

    //Conserta a distancia do menu inferior direito (Menu Opções)
    el = document.getElementById("botaoOpc");
    style = window.getComputedStyle(el),
    right = style.getPropertyValue('right');
    el.style.bottom=right;

    //"Media queries"
    window.onresize = function(event) {
      if (window.innerWidth < 600) {
        // console.log("Largura da janela menor que 600 px");
        document.getElementById("ancoraPaginaInicial").innerHTML = "Pagina<br>Inicial"
      } else {
        // console.log("Largura maior que 600px");
        document.getElementById("ancoraPaginaInicial").innerHTML = "Pagina Inicial"
      }
    };
  
</script>

{% include "popupCoxinhar.html" %}

{% include 'popupErro.html' %}