<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Perfil / Coxitter</title>
    <!-- Insere configurações da tag 'head' --> 
    {% include "configHead.html" %}
  </head>
  <body style="background-color: white; margin: 0;">
    <!-- Insere mensagens de erro e sucesso --> 
    {% include "mensagens.html" %}

    <!-- Insere as barras laterais --> 
    {% include "barrasLaterais.html" %}
    
    <div id="meioPagina">
      <h2>EDITANDO O PERFIL</h2>
      <div>
        <h4> Foto do Perfil</h4>
        <form action="{{ url_for('perfil_foto') }}" method="POST" class="formEdicao" enctype="multipart/form-data">
          <!-- Exibe a foto atual -->
          <p><label>Foto do perfil (tamanho máximo: 128 KB):</label></p>
          <img src="{{ url_for('perfil_avatar', login=logado) }} " style= "width : 250px;"></p>
          <!-- Recebe a nova foto -->
          <p><input type="file" name="foto" accept="image/png, image/jpeg"></p>
          <p><input type="submit" value="Enviar"></p>
        </form>
        
        <h4>Nome do usuário</h4>
        <form action="{{ url_for('editar_nome') }}" class="formEdicao" method="post">
          <div>
            <label for="nome">Nome:</label><input type="text"name="nome" size="50" value="{{ user.nome }}">
          </div>
          <div>
            <input type="submit" value="Alterar nome">
          </div>
        </form>

        <h4>Senha</h4>
        <form action="{{ url_for('editar_senha') }}" class="formEdicao" method="post">
          <div>
            <label for="senha1">Senha:</label><input type="password"name="senha1" size="50" required>
          </div>
          <div>
            <label for="senha2">Repita a senha:</label><input type="password" name="senha2" size="50" required>
          </div>
          <div>
            <input type="submit" value="Alterar senha">
          </div>
        </form>
        </div>
      </div>
    </div>
{% include "rodape.html" %}
  </body>
</html>