<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Login</title>
	<!-- Insere configurações da tag 'head' --> 
    {% include "configHead.html" %}
  </head>
  <body style="text-align: center;">
	<h1 style="margin-top: 7%;">Coxitter</h1>
	{% include "mensagens.html" %}
	<form action="{{ url_for('autenticacao') }}" class="campo" id="caixaLogin" method="post">
		  <label for="login">Login:</label><br>
		  <input type="text" name = "login" id="login" required><br>
		  
		  <label for="senha">Senha:</label><br>
		  <input type="password" name = "senha" id="senha" required><br>

		  <a href="{{url_for('cadastro')}}">Novo cadastro</a>
		  <input type="submit" value="Entrar">		
	</form>
	<div id='mensagemErroLogin'>
		<h2>Temos um aplicativo mobile!</h2>
		<p>Nosso aplicativo te entenderá melhor! Não deixe de participar do Coxitter! Aplicativo disponível em: </p>
	</div>
	<img class="swing" src="../static/imagens/Cantinho-Cortado.png" alt="decoração 1" id="imagemPequenaLogin">
	<img class="swing" src="../static/imagens/Canteba-Cortado.png" alt="decoração 2" id="imagemGrandeLogin">
{% include "rodape.html" %}  
</body>
</html>