<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Página inicial / Coxitter</title>
    <!-- Insere icone do site --> 
    {% include "icone.html" %}
    <link href="../static/styles/estilo.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=News Cycle">
    <script src="https://kit.fontawesome.com/17a3127d7b.js" crossorigin="anonymous"></script>
  </head>
  <body style="background-color: white; margin: 0;">
    <!-- Insere mensagens de erro e sucesso --> 
    {% include "mensagens.html" %}

    <!-- Insere as barras laterais --> 
    {% include "barrasLaterais.html" %}

    <div id="meioPagina">
      <h2>PÁGINA INICIAL</h2>
    </div>
    
  </body>
</html>