<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Página inicial / Coxitter</title>
    <!-- Insere configurações da tag 'head' --> 
    {% include "configHead.html" %}
  </head>
  <body style="background-color: white; margin: 0;">
    <!-- Insere mensagens de erro e sucesso --> 
    {% include "mensagens.html" %}

    <!-- Insere as barras laterais --> 
    {% include "barrasLaterais.html" %}

    <div id="meioPagina">
      <h2>PÁGINA INICIAL</h2>
      <section id='coxinharPI'>
        <form method="post" action="{{url_for('postar_msg_web')}}">
          <textarea rows=6 maxlength="300" name='corpo' placeholder="Coxinhe sobre o que está acontecendo..."
          style="z-index: -1;" required></textarea>
          <input type='submit' value="Coxinhar" id='btnCoxinharPI'>
          <hr style="border: none;border-bottom: solid #9EB4E6 5px; z-index: -1;">
        </form>
      </section>
      <section id="postagensPaginaInicial">
        {% for postagem in postagens %}
          {% include 'postagem.html' %}
        {% endfor %}
      </section>
    </div>
    
  {% include "rodape.html" %}
  </body>
</html>