<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Perfil / Coxitter</title>
    <!-- Insere configurações da tag 'head' --> 
    {% include "configHead.html" %}
  </head>
  <body style="background-color: white; margin: 0;">
    <!-- Insere mensagens de erro e sucesso --> 
    {% include "mensagens.html" %}

    <!-- Insere as barras laterais --> 
    {% include "barrasLaterais.html" %}

    <div id="meioPagina">
      <h2>PERFIL</h2>
      <section id="espacoPerfil">
        {% if usuario %}
          <a href="{{url_for('edicao')}}" class="coxinhar btnEditar">EDITAR PERFIL</a>
        {% endif %}
        <img id="imagemPerfil" src="{{ url_for('perfil_avatar', login=user.login) }}">
        <p class="nome">{{ user.nome }} <span class="maisClaro">@{{ user.login }}</span></p>
        <div id="seguidores">
          <p class="nome seguidores">seguindo x</p>
          <p class="nome seguidores">seguidores y</p>
        </div>
      </section>
      <section id="postagensPerfil">
        {% if postagens|length == 0 %}
          <p class="mensagemFinal">Sem mensagens por enquanto...</p>
        {% else %}
          {% for postagem in postagens %}
            {% include 'postagem.html' %}
          {% endfor %}
          <p class="mensagemFinal">FIM</p>
        {% endif %}

      </section>
    </div> 
  {% include "rodape.html" %}   
  </body>
</html>