<!-- The Modal -->
<div id="popErro" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-body">
      <p style="display: block; text-align: center; margin-top: 5vw;">Essa função será adicionada em breve...</p>
    </div>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById("popErro");

// Get the button that opens the modal
var btn = document.getElementById("comentario");

// Get the button that opens the modal
var btn2 = document.getElementById("Notificacoes");

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

btn2.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

